
.DS_Store
.Rhistory
tutorial_files/figure-latex/compound1-1.pdf
tutorial_files/figure-latex/fig2-1.pdf
tutorial_files/figure-latex/fig3-1.pdf
tutorial_files/figure-latex/fig4-1.pdf
tutorial_files/figure-latex/figs1-1.pdf
tutorial_files/figure-latex/figs2-1.pdf
tutorial_files/figure-latex/modularity-1.pdf
tutorial_files/figure-latex/nestedness-1.pdf
tutorial_files/figure-latex/specialization-1.pdf
tutorial_files/figure-latex/unnamed-chunk-7-1.pdf
