
.DS_Store
.Rhistory
tutorial_files/figure-latex/compound1-1.pdf
tutorial_files/figure-latex/fig2-1.pdf
tutorial_files/figure-latex/fig3-1.pdf
tutorial_files/figure-latex/fig4-1.pdf
tutorial_files/figure-latex/figs1-1.pdf
tutorial_files/figure-latex/figs2-1.pdf
tutorial_files/figure-latex/modularity-1.pdf
tutorial_files/figure-latex/nestedness-1.pdf
tutorial_files/figure-latex/specialization-1.pdf
tutorial_files/figure-latex/unnamed-chunk-7-1.pdf
Extracting_modules_from_bipartite.R
teste.R
tutorial_cache/latex/__packages
tutorial_cache/latex/unnamed-chunk-18_b1e442fc28debc32ea63184d2a4d1486.RData
tutorial_cache/latex/unnamed-chunk-18_b1e442fc28debc32ea63184d2a4d1486.rdb
tutorial_cache/latex/unnamed-chunk-18_b1e442fc28debc32ea63184d2a4d1486.rdx
tutorial_cache/latex/unnamed-chunk-21_9971392605731ee71372b9a1608b2c91.RData
tutorial_cache/latex/unnamed-chunk-21_9971392605731ee71372b9a1608b2c91.rdb
tutorial_cache/latex/unnamed-chunk-21_9971392605731ee71372b9a1608b2c91.rdx
tutorial_cache/latex/unnamed-chunk-24_e37f33696a5a83e7ac0047cf988d02a5.RData
tutorial_cache/latex/unnamed-chunk-24_e37f33696a5a83e7ac0047cf988d02a5.rdb
tutorial_cache/latex/unnamed-chunk-24_e37f33696a5a83e7ac0047cf988d02a5.rdx
tutorial_cache/latex/unnamed-chunk-27_9e7135c01eb994df390975065a8da779.RData
tutorial_cache/latex/unnamed-chunk-27_9e7135c01eb994df390975065a8da779.rdb
tutorial_cache/latex/unnamed-chunk-27_9e7135c01eb994df390975065a8da779.rdx
tutorial_cache/latex/unnamed-chunk-31_cc26509bd25f4fbae1283bd1e0d6b485.RData
tutorial_cache/latex/unnamed-chunk-31_cc26509bd25f4fbae1283bd1e0d6b485.rdb
tutorial_cache/latex/unnamed-chunk-31_cc26509bd25f4fbae1283bd1e0d6b485.rdx
tutorial_cache/latex/unnamed-chunk-32_479385a7038a1b5432d2896458919658.RData
tutorial_cache/latex/unnamed-chunk-32_479385a7038a1b5432d2896458919658.rdb
tutorial_cache/latex/unnamed-chunk-32_479385a7038a1b5432d2896458919658.rdx
